body {
    background-color: #FFFFCC;
    color: #000000;
    font-family: 'Droid Sans', sans-serif;
}

h5 {
    margin-left: -65px;
    font-size: 16px;
    line-height: 20px;
}

.navbar-inverse {
    background-color: #3366CC;
    height: 90px;
}

.navbar-inverse .navbar-nav > li > a {
    opacity: 0.5;
    font-size: 24px;
    margin-top: -4px;
}

.navbar-inverse .navbar-nav > li > a > .row-fluid {
    text-align: center;
    color: #FFCC00;
}
.navbar-inverse .navbar-nav > li > a > .row-fluid > .visible-md > h6 {
    color: #99CCFF;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #3366CC;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #FDB515;
    opacity: 1.0;
}

.jumbotron {
    background-color: #3366CC;
    color: #FFCC00;
    border: 3px solid #3399CC;
}

.jumbotron > h1 {
    font-weight: bold;
    font-size: 72px;
}

.jumbotron > h2 {
    margin-left: -300px;
    margin-bottom: -20px;
    margin-top: -20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 24px;
}

.jumbotron > h3 {
    font-size: 24px;
    margin-top: -10px;
}

.jumbotron > h5 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    margin-top: -50px;
    margin-bottom: -30px;
    text-align: left;
    margin-left: 0px;
}

.jumbotron .eventTags {
    margin-top: 30px;
    margin-left: 14px;
}

.jumbotron a, .jumbotron a:visited {
    color: #99CCFF;
}

.jumbotron a:hover {
    color: #fff;
}

.jumbotron .img-circle {
    background-color: #99CCFF;
    border: 5px solid #3399CC;
    height: 150%;
    width: 150%;
}

.jumbotron .img-circle:hover {
    background-color: #FFFFCC;
}

.table-striped {
    border: 2px solid #99CCFF;
}

.table-striped > thead > tr > th {
    border-bottom: 2px solid #99CCFF;
} 

th, td, tr {
    border-bottom: 2px solid #99CCFF;
    text-align: center;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #3366CC;
}

footer {
    margin-top: 30px;
    border-top: 1px solid #3366CC;
    font-size: 12px;
    color: #3366CC;
    margin-bottom: 30px;
    text-align: right;
}

footer > h5 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 16px;
}

.img-thumbnail {
    border: 3.5px solid #3366CC;
    background-color: #FFFFCC;
    height: 63%;
    width: 63%;
}

@media (max-width: 768px) {

  body {
    margin-top: 30px;
  }

}

@media (min-width: 768px) {

  body {
    margin-top: 130px;
  }

}
