<div ng-repeat="eventTag in eventTags | filter:customFilter | limitTo:limit">
        <div class="row">
            <div class="col-md-6" ng-repeat="event in events | filter:eventTag.name" ng-init="index">
                <div class="row">
                    <div class="col-xs-4">
                        <img class="img-thumbnail" src="{{event.imgUrl}}"/>
                    </div>
                    <div class="col-xs-8">
                        <h4><b>{{event.name}}</b></h4>
                        <h5><b>Where?</b> {{event.location}}</h5>
                        <h5><b>When?</b> {{event.day}} {{event.dateTime}}</h5>
                        <p>{{event.description}}</p>
                    </div>
                </div>
                <span ng-init="rowCount = (((index + 1) % 2) == 0)" ng-if="rowCount">
                    </div><div class="row">
                </span>
            </div>

        </div>
    </div>
